.section1,
.section2,
.section3,
#error-message,
h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    margin: 5% 30%;
    border: 1px solid black;
}
#error-message {
    background-color: red;
    opacity: 0.7;
    margin: 0 35%;
    margin-top: 5%;
    font-weight: bold;
}
button {
   margin: 0 1px; 
}
